<div class="row has-margin-row">
  <div class="col-12">
    <h4><%= t ".trending_today" %></h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <% 4.times do %>
        <%= render "shared/trending_post" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row has-margin-row">
  <div class="col-12">
    <h4><%= t ".popular" %></h4>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <% 10.times do %>
      <%= render "shared/post_preview" %>
    <% end %>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <%= link_to t("create_post"), submit_path,
              class: "btn btn-primary full-width"%>
        <%= link_to t(".create_sub_forum"), new_sub_forum_path,
              class: "btn btn-primary full-width" %>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        <%= t "static_pages.home.trending_forums" %>
      </div>
      <ul class="list-group list-group-flush">
        <%= render partial: "shared/trending_sub_forum", collection: @trending_sub_forums %>
      </ul>
    </div>
  </div>
</div>
