<div class="row has-margin-row">
  <%= render "nav_profile", user: @user, index_to_active: 0 %>
</div>
<div class="row has-margin-row">
  <div class="col-4">
    <% if logged_in? and current_user?(@user) %>
      <%= render "edit_profile_picture" %>
    <% else %>
      <%= render "uneditable_profile" %>
    <% end %>
  </div>
  <div class="col-8">
    <% if logged_in? && current_user?(@user) %>
      <% provide(:title, nil) %>
      <% provide(:button_text, t(".update_my_account")) %>
      <%= render "form" %>
    <% else %>
       <%= render "overview" %>
    <% end %>
  </div>
</div>
