<li id="sub_forum_preview-<%= sub_forum_preview.id %>">
  <span class="user"><%= link_to sub_forum_preview.user.name, sub_forum_preview.user %></span>
  <span class="name"><%= sub_forum_preview.name %></span>
  <span class="description"><%= sub_forum_preview.description %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(sub_forum_preview.created_at) %> ago.
  </span>
</li>
